* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: dancing;
    src: url('../fonts/DancingScript-VariableFont_wght.ttf');
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

button {
    cursor: pointer;
}

.user-msg {
    width: 150px;
    height: 0;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    color: white;
    display: grid;
    place-content: center;
    transition: 0.5s;
}

.show-msg {
    height: 50px;
}

header {
    padding: 20px 4.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

.logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #121fcf;
    background: linear-gradient(to top, #121fcf 0%, #cf1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nice-text {
    font-family: dancing;
    background: #121fcf;
    background: linear-gradient(to top, #121fcf 0%, #cf1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.loc-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 92%;
    margin: 20px auto;
}

form {
    height: 100%;
    min-width: 60%;
    display: flex;
}

.search-input {
    font-size: 0.8rem;
    width: 70%;
    padding: 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid lightgray;
}

form button {
    padding: 0.65rem 0.8rem;
    cursor: pointer;
    background-color: rgb(82, 99, 232);
    color: white;
    font-weight: 700;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-user-pos {
    width: 125px;
    padding: 0.65rem 1rem;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    background-color: green;
    color: white;
}

.map-container {
    width: 100%;
    text-align: center;
}

#map {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.btn-add {
    width: 125px;
    padding: 0.65rem 1rem;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    background-color: rgb(166, 99, 180);
    color: white;
    margin-inline-start: 3.7%;
}

.locs-container {
    width: 93%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0.5rem;
    background-color: rgb(239, 235, 235);
    border-radius: 5px;
}

.loc-card {
    font-size: 14px;
    display: grid;
    gap: 0.5rem;
    place-content: center;
    align-items: center;
    grid-template-columns: 1fr 0.5fr 0.75fr 0.4fr 0.4fr;
    background-color: white;
    padding: 2rem 0.5rem;
    border-radius: 5px;
}

.loc-card .btn {
    padding: 0.2rem 0;
    display: grid;
    place-content: center;
    border: none;
    color: white;
    border-radius: 5px;
    /* font-size: 0.8rem; */
    width: fit-content;
    height: fit-content;
}

.go-btn {
    background-color: rgb(82, 99, 232);
}

.delete-btn {
    background-color: rgb(230, 113, 113);
    /* width: fit-content; */
}

.btn i {
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
}

@media (min-width: 900px) {
    main {
        width: 96%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
} ;
